{% extends "loans/base.html" %}
{% load static %}
{% block page_title %}Failed Deals{% endblock page_title %}



{% block inCol9 %}
<div class="card">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-2">

                <div class="card-body text-center img-thumbnail">
                    <img class="rounded-circle m-2" src="images/dielnov6.png" alt="profile" height="200" width="200">
                </div>


            </div>
        </div>
        <div class="col-md-8">
            <div class="p-4 text-center">
                <a href="">
                    <h3>Novo Auto Sales</h3>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, earum. Inventore sed
                    aut et perferendis sit expedita laudantium tenetur. Fugiat tenetur alias itaque
                    officiis facere laborum doloremque repudiandae amet eaque.
                </p>
                <p>
                    Successful Deals: <a href=""><strong>773 </strong></a>
                    Dealer Faults: <a href=""><strong>18 </strong></a>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock inCol9 %}