{% extends "loans/base.html" %}
{% load static %}
{% block page_title %}Catalog{% endblock page_title %}



{% block inCol9 %}
<div class="card">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-2">

                <div class="card-body text-center img-thumbnail">
                    <img class="rounded-circle m-2" src="images/dielnov6.png" alt="profile" height="200" width="200">
                </div>



            </div>
        </div>
        <div class="col-md-8">
            <div class="p-4 text-center">
                <a href="">
                    <h3>Novo Auto Sales</h3>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, earum. Inventore sed
                    aut et perferendis sit expedita laudantium tenetur. Fugiat tenetur alias itaque
                    officiis facere laborum doloremque repudiandae amet eaque.
                </p>
                <p>
                    Successful Deals: <a href=""><strong>773 </strong></a>
                    Dealer Faults: <a href=""><strong>18 </strong></a>
                </p>

            </div>
        </div>
    </div>
    <hr class="m-2">
    <div class="row">
        <div class="p-4 text-center">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur cupiditate
                veniam tempore dolorum dolore, voluptates sapiente voluptatem aliquid, mollitia in
                dolorem. Culpa expedita consectetur, amet explicabo provident aspernatur fuga minus!
            </p>
        </div>
    </div>
</div>

<br>

<div class="">
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <div class="card-body img-fluid">
                    <img class="img-box rounded-lg" src="images/audi.jpg" alt="audi" height="150" width="150">

                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorem
                        culpa,
                        natus
                        sit, amet officia eveniet enim tempora provident incidunt odit corrupti
                        molestiae.
                        Nobis quidem sit quibusdam libero hic ea.</p>

                    <hr>
                    <p>
                        Price: <strong>$4500 </strong>
                        Location: <strong>Marlborough</strong>
                        Tag: <Strong>Auto</Strong>
                        Dealer: <a href=""><Strong>Novo Auto Sales</Strong></a>
                    </p>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="">
                <nav class="navbar">
                    <span style="font-size: small;" class="mr-auto text-right">Saturday 2 May
                        2020</span>
                    <a href="" class="ml-auto btn-sm btn-primary">View</a>
                    <a href="" class="ml-1 btn-sm btn-primary">Claim</a>
                </nav>
            </div>
        </div>
    </div>

    <br>

    <br>

    <br>


</div>
{% endblock inCol9 %}