<form enctype="multipart/form-data" method="post">
    <input type="hidden" name="csrfmiddlewaretoken"
        value="YDPrPg9omtCfjJhaVsHAkXGHl1bTTCMTI6rBb8jFmkOsXGpDOsExpSnK7JACX83p">

    <div id="div_id_account" class="form-group"> <label for="id_account" class=" requiredField">
            Account<span class="asteriskField">*</span> </label>
        <div class=""> <select name="account" class="select form-control" required id="id_account">
                <option value="" selected>---------</option>
                <option value="1">dielnov</option>
                <option value="2">EATA</option>
                <option value="3">test</option>

            </select> </div>
    </div>
    <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
            Title<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="title" maxlength="8" class="textinput textInput form-control" required
                id="id_title"> </div>
    </div>
    <div id="div_id_firstName" class="form-group"> <label for="id_firstName" class=" requiredField">
            FirstName<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="firstName" maxlength="60" class="textinput textInput form-control"
                required id="id_firstName"> </div>
    </div>
    <div id="div_id_middleName" class="form-group"> <label for="id_middleName" class=" requiredField">
            MiddleName<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="middleName" value="NIL" maxlength="60"
                class="textinput textInput form-control" required id="id_middleName"> </div>
    </div>
    <div id="div_id_lastName" class="form-group"> <label for="id_lastName" class=" requiredField">
            LastName<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="lastName" maxlength="60" class="textinput textInput form-control"
                required id="id_lastName"> </div>
    </div>
    <div class="form-group">
        <div id="div_id_isMale" class="form-check"> <input type="checkbox" name="isMale"
                class="checkboxinput form-check-input" id="id_isMale"> <label for="id_isMale" class="form-check-label">
                IsMale
            </label> </div>
    </div>
    <div id="div_id_maidenName" class="form-group"> <label for="id_maidenName" class=" requiredField">
            MaidenName<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="maidenName" maxlength="60" class="textinput textInput form-control"
                required id="id_maidenName"> </div>
    </div>
    <div id="div_id_passportPhoto" class="form-group"> <label for="id_passportPhoto" class=" requiredField">
            PassportPhoto<span class="asteriskField">*</span> </label>
        <div class=""> <input type="file" name="passportPhoto" accept="image/*"
                class="clearablefileinput form-control-file" required id="id_passportPhoto"> </div>
    </div>
    <div id="div_id_nationalID" class="form-group"> <label for="id_nationalID" class=" requiredField">
            NationalID<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="nationalID" maxlength="60" class="textinput textInput form-control"
                required id="id_nationalID"> </div>
    </div>
    <div id="div_id_dob" class="form-group"> <label for="id_dob" class=" requiredField">
            Dob<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="dob" maxlength="60" class="textinput textInput form-control" required
                id="id_dob"> </div>
    </div>
    <div id="div_id_maritalStatus" class="form-group"> <label for="id_maritalStatus" class=" requiredField">
            MaritalStatus<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="maritalStatus" maxlength="60" class="textinput textInput form-control"
                required id="id_maritalStatus"> </div>
    </div>
    <div id="div_id_countryOfResidence" class="form-group"> <label for="id_countryOfResidence" class=" requiredField">
            CountryOfResidence<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="countryOfResidence" maxlength="60"
                class="textinput textInput form-control" required id="id_countryOfResidence"> </div>
    </div>
    <div id="div_id_Nationality" class="form-group"> <label for="id_Nationality" class=" requiredField">
            Nationality<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="Nationality" maxlength="60" class="textinput textInput form-control"
                required id="id_Nationality"> </div>
    </div>
    <div id="div_id_passportNum" class="form-group"> <label for="id_passportNum" class=" requiredField">
            PassportNum<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="passportNum" maxlength="60" class="textinput textInput form-control"
                required id="id_passportNum"> </div>
    </div>
    <div id="div_id_passportIssuerCountry" class="form-group"> <label for="id_passportIssuerCountry"
            class=" requiredField">
            PassportIssuerCountry<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="passportIssuerCountry" maxlength="60"
                class="textinput textInput form-control" required id="id_passportIssuerCountry"> </div>
    </div>
    <div id="div_id_passportIssueDate" class="form-group"> <label for="id_passportIssueDate" class=" requiredField">
            PassportIssueDate<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="passportIssueDate" maxlength="60"
                class="textinput textInput form-control" required id="id_passportIssueDate"> </div>
    </div>
    <div id="div_id_passportExpiryDate" class="form-group"> <label for="id_passportExpiryDate" class=" requiredField">
            PassportExpiryDate<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="passportExpiryDate" maxlength="60"
                class="textinput textInput form-control" required id="id_passportExpiryDate"> </div>
    </div>
    <div id="div_id_yearsAtResidence" class="form-group"> <label for="id_yearsAtResidence" class=" requiredField">
            YearsAtResidence<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="yearsAtResidence" maxlength="60"
                class="textinput textInput form-control" required id="id_yearsAtResidence"> </div>
    </div>
    <div id="div_id_residentialStatus" class="form-group"> <label for="id_residentialStatus" class=" requiredField">
            ResidentialStatus<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="residentialStatus" maxlength="60"
                class="textinput textInput form-control" required id="id_residentialStatus"> </div>
    </div>
    <div id="div_id_sourceOfIncome" class="form-group"> <label for="id_sourceOfIncome" class=" requiredField">
            SourceOfIncome<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="sourceOfIncome" maxlength="60" class="textinput textInput form-control"
                required id="id_sourceOfIncome"> </div>
    </div>
    <div id="div_id_workAddress" class="form-group"> <label for="id_workAddress" class=" requiredField">
            WorkAddress<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="workAddress" maxlength="60" class="textinput textInput form-control"
                required id="id_workAddress"> </div>
    </div>
    <div id="div_id_workPhone" class="form-group"> <label for="id_workPhone" class=" requiredField">
            WorkPhone<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="workPhone" maxlength="60" class="textinput textInput form-control"
                required id="id_workPhone"> </div>
    </div>
    <div id="div_id_workDesignation" class="form-group"> <label for="id_workDesignation" class=" requiredField">
            WorkDesignation<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="workDesignation" maxlength="60" class="textinput textInput form-control"
                required id="id_workDesignation"> </div>
    </div>
    <div id="div_id_grossMonthlyIncome" class="form-group"> <label for="id_grossMonthlyIncome" class=" requiredField">
            GrossMonthlyIncome<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="grossMonthlyIncome" maxlength="60"
                class="textinput textInput form-control" required id="id_grossMonthlyIncome"> </div>
    </div>
    <div id="div_id_otherSourceOfIncome" class="form-group"> <label for="id_otherSourceOfIncome" class=" requiredField">
            OtherSourceOfIncome<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="otherSourceOfIncome" maxlength="60"
                class="textinput textInput form-control" required id="id_otherSourceOfIncome"> </div>
    </div>
    <div id="div_id_kin_fname" class="form-group"> <label for="id_kin_fname" class=" requiredField">
            Kin fname<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="kin_fname" maxlength="60" class="textinput textInput form-control"
                required id="id_kin_fname"> </div>
    </div>
    <div id="div_id_kin_sname" class="form-group"> <label for="id_kin_sname" class=" requiredField">
            Kin sname<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="kin_sname" maxlength="60" class="textinput textInput form-control"
                required id="id_kin_sname"> </div>
    </div>
    <div id="div_id_kin_phone" class="form-group"> <label for="id_kin_phone" class=" requiredField">
            Kin phone<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="kin_phone" maxlength="60" class="textinput textInput form-control"
                required id="id_kin_phone"> </div>
    </div>
    <div id="div_id_kin_address" class="form-group"> <label for="id_kin_address" class=" requiredField">
            Kin address<span class="asteriskField">*</span> </label>
        <div class=""> <input type="text" name="kin_address" maxlength="60" class="textinput textInput form-control"
                required id="id_kin_address"> </div>
    </div>
    <div id="div_id_kin_passportPhoto" class="form-group"> <label for="id_kin_passportPhoto" class=" requiredField">
            Kin passportPhoto<span class="asteriskField">*</span> </label>
        <div class=""> <input type="file" name="kin_passportPhoto" accept="image/*"
                class="clearablefileinput form-control-file" required id="id_kin_passportPhoto"> </div>
    </div>

    <input class="btn btn-primary btn-outline-warning" type="submit" value="Submit" />
</form>